body {
  background: #232223;
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin: 0px;
}

.btn {
  border-radius: 0;
  background: white;
  color: #5183b4;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn:hover {
  background: #5183b4;
  color: white;
}

.square {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 10px;
  background: white;
  border-radius: 10%;
  transition: all 0.3s;
}

.btn.active {
  background: #5183b4;
  color: white;
}

.btn:focus {
  box-shadow: none;
}

#header {
  color: white;
  background: #5183b4;
  padding: 10px;
}

#message {
  display: inline-block;
  width: 100px;
}

#divider {
  background: white;
}

#colors {
  max-width: 400px;
  margin: auto;
}
