.active {
  background: #5183b4;
  color: white;
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin: 0px;
}
.square {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 10px;
  background: white;
  border-radius: 10%;
}

#header {
  color: white;
  background: #5183b4;
}

#message {
  display: inline-block;
  width: 100px;
}

#colors {
  max-width: 400px;
  margin: auto;
}
