.active {
  background: blue;
}

h1 {
  text-transform: uppercase;
}
.square {
  height: 100px;
  width: 100px;
  margin: 10px;
  background: white;
}

#header {
  color: white;
  background: #5183b4;
}
